.footer{
    position: relative;
    margin: 5% 0% 0% 0%;
    background-color: white;
    text-align: center;
    width: 100%;
    padding: 1%;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    border-top: 1px solid black;
}